@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*Navbar*/

.container-navbar{
    background-color: #FFC81D;
}

.logo{
    margin-left: 60px;
}

.button-navbar{
    margin-right: 40px;
}

.container{
    padding: 0;
    margin: 30px 20px 0 0;
}

form{
    margin-left: 60px;
}

.card{
    margin-left: 30px;
    height: 760px;
}